@model RadioChannels.Models.EditPassword

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <ul class="form-style-1">
        <li>
            <h2>Edit Password</h2>
        </li>
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "field-long validate", name = "field1", type = "password" })
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-long validate", name = "field1", type = "password" })
        </li>
        <li>
            <input id="submit" type="submit" value="Change Password" />
        </li>
    </ul>
}
<script>
    if (!window.location.href.includes("editpassword"))  // if we have moved back to this page then, dont push it
        history.pushState("editpassword", null, "/#account/editpassword");
</script>
