@model RadioChannels.Models.EditPassword

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Register";
}

<h2 id="main-heading">Edit Password</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <ul class="form-style-1">
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "field-long validate", name = "field1", type = "password", id = "edit_password" })
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-long validate", name = "field1", type = "password", id = "confirm_edit_password" })
        </li>
        <li>
            <input id="edit-password" type="submit" value="Submit" />
        </li>
    </ul>
}
<script>
    $('#edit-password').prop('disabled', true); 
    if (!window.location.href.includes("editpassword"))  // if we have moved back to this page then, dont push it
        history.pushState("editpassword", null, "/#account/editpassword");
    $('.validate').keyup(editPasswordsMatch);  
    function editPasswordsMatch() {
        if (($("#edit_password").val() === $("#confirm_edit_password").val()))
            $('#edit-password').prop('disabled', false);
        else
            $('#edit-password').prop('disabled', true);
    }
</script>
