@model RadioChannels.Models.User

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{ 
    <ul class="form-style-1">

        <h2>Register</h2>        
        <li>                                                                        
            <label>Full Name <span class="required">*</span></label>@Html.TextBoxFor(model => model.FirstName, new { @class = "field-long validate", placeholder = "First", name = "field1", type = "text" })&nbsp;@Html.TextBoxFor(model => model.LastName, new { @class = "field-long validate", placeholder = "Last", name = "field2", type = "text" })
        </li>
        <li>
            <label>@Html.DisplayNameFor(model => model.Email)<span class="required">*</span></label>
            <!-- <input type="email" name="field3" class="field-long" /> -->
            @Html.TextBoxFor(model => model.Email, new { @class = "field-long validate", name = "field1", type = "email" })
        </li>
        <li>
            <label>Password<span class="required">*</span><span class="password-error"></span><span class="password-success"></span></label>            
            @Html.PasswordFor(model => model.PasswordHash, new { @class = "field-long validate-password", id="password", name = "password1" })
        </li>
        <li>
            <label>Confirm Password<span class="required">*</span><span class="password-error"></span><span class="password-success"></span></label>            
            <input class="field-long validate-password" type="password" id="confirm_password" required>                        
        </li>
        <li>
            <input id="submit" type="submit" value="Register" />
            <span class="change-log-in">Already have an account? <a onclick="ajax_request('/Account/LogIn', ActionOnReady);">Log In</a></span>
        </li>  
        <li class="form-line"></li>
        <li class="logos-placeholder">
            <span>Or Register Using </span>
            <a class="icon-google-plus external-logos" href="@Url.Action("LoginExternal", "Account", new { provider = "Google"})"></a>
            <a class="icon-facebook-sign external-logos" href="@Url.Action("LoginExternal", "Account", new { provider = "Facebook"})"></a>
            <a class="icon-twitter-sign external-logos" href="@Url.Action("LoginExternal", "Account", new { provider = "Twitter"})"></a>
        </li>      
    </ul>
}