@model RadioChannels.Models.ResetPasswordViewModel

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Reset Password";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{ 
    <ul class="form-style-1">
        <li>
            @Html.AntiForgeryToken()
            <h4>Reset your password.</h4>
            <hr />
            @Html.HiddenFor(model => model.Code)
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "field-long validate", placeholder = "First", name = "field1", type = "text" })  
        </li>       
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "field-long validate", name = "field1", type = "password" })                
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-long validate", name = "field1", type = "password" })            
        </li>
        <li>
            <input id="submit" type="submit" value="Reset" />            
        </li>
    </ul>
}
<script>
    if (!window.location.href.includes("resetpassword"))  // if we have moved back to this page then, dont push it
        history.pushState("resetpassword", null, "/#account/resetpassword");
</script>

