@model RadioChannels.Models.ResetPasswordViewModel

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Reset Password";
}

<h2 id="main-heading">Reset Password</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{ 
    <ul class="form-style-1">
        <li>
            @Html.AntiForgeryToken()            
            @Html.HiddenFor(model => model.Code)
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "field-long validate", name = "field1", type = "email", id = "reset_email" })  
        </li>       
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "field-long validate", name = "field1", type = "password", id = "reset_password" })                
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-long validate", name = "field1", type = "password", id = "reset_confirm_password" })            
        </li>
        <li>
            <input id="submit_reset" type="submit" value="Reset" />            
        </li>
    </ul>
}
<script>
    if (!window.location.href.includes("resetpassword"))  // if we have moved back to this page then, dont push it
        history.pushState("resetpassword", null, "/#account/resetpassword");

    $('#submit_reset').prop('disabled', true);    
    $('.validate').keyup(resetValidate);
    function resetValidate() {
        var result = true;        
        if ((($("#reset_password").val().length > 0 && $("#reset_confirm_password").val().length > 0) && ($("#reset_password").val() === $("#reset_confirm_password").val())) && $(reset_email).val().length > 0)
            $('#submit_reset').prop('disabled', false);
        else
            $('#submit_reset').prop('disabled', true);
    }    
</script>

